.end_bar{
    background: black;
    color: white;
    padding-top: 55px;
    
}

#content_1>h4{
    font-size: 50px !important ;
      font-weight: 700;
}

#content_1 p{
    line-height: 25px;
}

#content_1 i{
    padding: 14px;
    border: 1px solid rgb(51, 50, 50) ;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 15px;
    margin-top: 15px;
    color: aliceblue !important ;
    transition: 1s !important;
   
}
#content_1 i:hover{
    color: black !important ;
    background: whitesmoke;
}


.content_2_3_4>h4{
        font-size:20px ;
        margin-bottom: 18px;
}

.content_2_3_4 p{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 17px;
}

#content_5>h4{
    font-size: 34px;
    line-height: 35px;
}
#content_5 p{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 17px;
}

#content_5 input{
    padding: 10px 5px 10px 30px;
    align-content: center;
    border-radius: 10%;
}

#content_5 i{
    position: relative;
        left: -40px;
        top: 5px;
        color: black;
        font-size: 26px;      
}


.hrline{
    background: rgb(95, 94, 94);
    width: 100%;
}

.ads_img{
   text-align: end;
   height: 100% !important ;
   width: 100% !important ;
}

@media screen and (max-width:1024px) {
    #content_1>h4 {
        font-size: 60px !important;
        font-weight: 900;
    }
    #content_1 i {
        padding: 14px;
        border: 1px solid rgb(51, 50, 50);
        border-radius: 50%;
        margin-right: 10px !important ;
        font-size: 14px !important ;
        margin-top: 15px !important ;
        color: aliceblue !important;
        transition: 1s !important;
    }
}


@media screen and (max-width:768px) {
    .end_bar{
        max-width:auto !important
    }

 #content_1 i {
        padding: 14px;
        border: 1px solid rgb(51, 50, 50);
        border-radius: 50%;
        margin-right: 10px !important ;
        font-size: 14px !important ;
        margin-top: 15px !important ;
        margin-bottom: 30px !important;
        color: aliceblue !important;
        transition: 1s !important;
    }
    .ads_img {
        text-align: end;
        height: 100% !important;
        width: 100% !important;
        margin-top: -40px !important;
    }
}

@media screen and (max-width:668px){
    .end_bar{
        width: 42.6rem !important;
    } 
}

@media screen and (max-width:400px) {
    .end_bar{
        width: 41rem !important;
    }
    
    
}



