.header{
    margin-bottom: -5% !important ;
    color: black !important;
    }

 #sticky{
    position: sticky !important ;
    top: 0px !important ;
    z-index: 1000 !important ;
    background-color: white !important ;
    padding: 25px;
 }  
a{
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-left: 25px;
    margin-right: -0px;
    z-index: 1000 !important ;
    text-decoration: none;
    padding-right: 7px;
}

.header>h5{
    font-size: 120px;
    font-weight: 1000;
    text-align: center !important;
    padding-bottom: 60px !important;
    margin-left:35% !important;  
    font-family: serif;  
}
.rwo_div{
    align-items: center !important;
}
   

#icon_div>i{
    margin-right: 30px !important;
    font-size: 21px !important ;
    color:black !important;    
}

#icon_div .heart{
    margin-left: -20px !important;
}
.none-sm{
    margin-right: 15px !important;
    font-size: 20px;
}

/* search icon */

#search_int{
    border:none;
    border-bottom: 1px solid rgb(122, 120, 120);
    outline: none !important;
    width: 50%;
    padding: 20px;
    text-align: start !important;
    font-size: 20px;
}

.search_i{
    color: silver !important;
    position: relative;
    left: -28px;     
}

.dismis_1{
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px !important ;
    position: relative;
    top: 30px;
    right: 80px;
    transition: 1s;
}

.dismis_1:hover{
    transform: rotate(90deg);
}

/* user icon style */

.holediv{
    width: 100%;
}

.headtag{
    text-transform: uppercase;
    padding: 20px 0px 0px 10px;
}

.int_all{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 9px;
    text-transform: capitalize;
    border: 1px silver solid;
    outline: none;
}

.submit_btn{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 9px;
    text-transform: capitalize;
    border: 1px silver solid;
    outline: none;
    background: rgb(19, 19, 19);
    color: white;
    font-weight: 500;
}

#ptag{
    text-decoration: underline !important;
    color: black;
    margin-bottom: 50px;
}
#register{
    text-align: center !important;
    align-items: center;
}

#spn_2{
    text-decoration: underline !important;color: black;
}

.dismis_2{
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px !important ;
    transition: 1s;
}

.dismis_2:hover{
    transform: rotate(90deg);
}


/* last icon */

#last_icon>i{
    background: silver;
    padding: 8px 10px 8px 10px !important;
    border-radius: 50% !important;
}
#last_icon{
    margin-top: 80px !important;
}

.btn-close{
    border-radius: 50% !important;
    color: black !important ;
    border:1px solid silver ;
}
.dissmis_3:hover{
    transform: rotate(90deg) !important ;
}

/* phone header */
.bars-head{
    display:none !important;
}
.nav{
    display: none !important;
}
#mixtas2 {
    display: none !important;
    font-weight: 800;
    font-size: 83px !important ;
    z-index: 1000 !important;
    font-family: serif;

}

/* nav_2 */
#slider_2 li{
     height: 50px !important;   
     list-style: none !important;
}

#slider_2 a{
    height: 100%;
    text-decoration: none !important;
    display: flex !important;
    align-items: center !important;
}
#nav_2{
    position: fixed !important;
    left:0% !important;
    top: 0px !important;
    z-index: 1000 !important;
    height: 100% !important;
    width: 250px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: start !important;
    background-color: white !important;
    box-shadow: 0px 5px 10px silver !important;
}

.dismis_nav{
    position: relative !important;
    left:80%  !important;
    top: 2% !important;
    font-size: 20px !important;
}
/* nav_2 */
@media screen and (max-width:1024px){
    .nav{
        display: flex !important;
        padding: 1px !important;
        align-items: center !important;
    }
    .head-to-container{
       display: none !important;
    }

    #mixtas2{
    font-weight: 800;
    font-size: 75px !important ;
    z-index: 1000 !important;
    font-family: serif;   
    }
    
    #icon_div i {
        font-size: 20px !important;
        color: black !important;
    }
    #sticky{
        display: none !important;
    }
    .bars-head{
        display: block !important;
        position: absolute  !important ;
        top: 5% !important;
        left: -100% !important ;
        font-size: 30px !important;
        
    }
    /* #sticky1{
        display: grid !important;
    } */
    

}

@media screen and (max-width:990px) {
    #mixtas2{
        font-weight: 800;
        font-size: 60px !important ;
        z-index: 1000 !important;
        font-family: serif;   
        }
    #icon_div i {
        font-size: 20px !important;
        color: black !important;
        padding: 10px !important;
    }
    #sticky {
        display: none !important;
    }
    .bars-head{
        display: block !important;
        position: absolute  !important ;
        top: 5% !important;
        left: -100% !important ;
        font-size: 30px !important;
    }
    .none-sm{
        display: none !important;
    }
}

@media screen and (max-width:768px) {
    .header>h5 {
        font-size: 70px;
        font-weight: 1000;
        text-align: center !important;
        padding-bottom: 60px !important;
        margin-left: 4% !important;
        font-family: serif;
    }
    #icon_div {
        margin-top: -7.5%;
        margin-left: 75%;
        font-size: 10px !important;
    }
    #icon_div i {
        font-size: 20px !important;
        color: black !important;

    }
    #sticky {
        display: none !important;
    }
    .bars-head{
        display: block !important;
        position: absolute  !important ;
        top: 7% !important;
        left: -100% !important ;
        font-size: 30px !important;
    }
    .none-sm{
        display: none !important;
    } 
    #sticky1{
        display: grid !important;
    }
}
@media screen and (max-width:588px) {
    #mixtas2{
        font-weight: 800;
        font-size: 40px !important ;
        z-index: 1000 !important;
        font-family: serif;   
        position: relative !important;
        left: -10% !important;
        }
        .sm_heart{
            display: none !important;
        }
   
        .header i {
            margin-right: 18px;
            font-size: 17px;
            color: black;
            margin-top: -15px;
            padding: 8px 0px 20px 0px;
            z-index: 1000 !important;
        }
    #sticky {
        display: none !important;
    }
    .bars-head{
        display: block !important;
        position: absolute  !important ;
        top: 7% !important;
        left: -100% !important ;
        font-size: 30px !important;
    }
    .none-sm{
        display: none !important;
    } 
    #sticky1{
        display: grid !important;
    }
    
}

@media screen and (max-width:410px) {
    #mixtas2{
        font-weight: 800;
        font-size: 37px !important ;
        z-index: 1000 !important;
        font-family: serif;   
        position: relative !important;
        left: 18% !important;
        }
    #icon_div {
        margin-top: -8.5%;
        margin-left: 69%;
        font-size: 5px !important;
    }
    #icon_div i {
        font-size: 21px !important;
        color: black !important;
        margin-left: 3px !important;
        margin-right: 5px !important;
    }
    .none-sm{
        display: none !important;
    }
    #search{
        padding-right: 10px !important;
    }
    #sticky {
        display: none !important;
    }
    .bars-head{
        display: block !important;
        position: absolute  !important ;
        top: 3.5% !important;
        margin-left: -20% !important;
        font-size: 25px !important;
    }
    #sticky1{
        display: grid !important;
    }
}
 @media screen and (max-width:320px){
    #mixtas2{
        font-weight: 800;
        font-size: 37px !important ;
        z-index: 1000 !important;
        font-family: serif;   
        position: relative !important;
        left: 30% !important;
        }
    #icon_div {
        margin-top: -10.5%;
        margin-left: 59%;
        font-size: 5px !important;
    }
    #icon_div i {
        font-size: 18px !important;
        color: black !important;
        margin-left: 3px !important;
        margin-right: 5px !important;
    }
    .none-sm{
        display: none !important;
    }
    #search{
        padding-right: 10px !important;
    }
    #sticky {
        display: none !important;
    }
    .bars-head{
        display: block !important;
        position: absolute  !important ;
        top: 3.5% !important;
        margin-left: -25% !important;
        font-size: 20px !important;
    }
    #sticky1{
        display: grid !important;
    }



 }










