.nav-fill{
    position: sticky !important ;
    top: 0px !important ;
    z-index: 1000 !important ;
    background-color: white !important ;
    padding: 40px 0px 20px 0px ;
    z-index: 1000 !important;
 }  


#link_div a{
    font-size: 15px;
    font-weight: 499 !important;
    color: black;
    margin-left: 15px;
    margin-right: -0px;
    z-index: 1000 !important ;
    text-decoration: none;
    z-index: 1000 !important;
}



.header i{
    margin-right: 18px;
    font-size: 21px;
    color: black;
    margin-top: -15px;
    padding: 8px 0px 20px 0px;
    z-index: 1000 !important;

}
.nav-item>center h4{
    font-weight: 800;
    font-size: 40px;
    z-index: 1000 !important;
    font-family: serif;
    margin-top: -10px !important;
}

.hr{
    width: 100% !important ;
    z-index: 1000 !important;

}
 
.uppercontainer{
    text-align: start !important;
    z-index: 1000 !important;
}

.ptag{
    padding-top: 12px;
    text-align: start !important;
    z-index: 1000 !important;

    p{
        font-size: 15px;
    z-index: 1000 !important;

    }
}

.spntag{
    padding-top: 12px;
    text-align: start !important;
    z-index: 1000 !important;

}

.spntag i{
    font-size: 10px;
    margin-left: 5px;
    z-index: 1000 !important;

}
/* icons styles */
 #link_div a{
    font-size: 14.5px;
    font-weight: 500 !important;
    color: black;
    margin-right: -5px;   
    z-index: 1000 !important ;
    text-decoration: none;
 }

#link_div{
    margin-left: 180px;
}
/* search icon */

#search_int{
    border:none;
    border-bottom: 1px solid rgb(122, 120, 120);
    outline: none !important;
    width: 50%;
    padding: 20px;
    text-align: start !important;
    font-size: 20px;  
}
.search_i{
    color: silver !important;
    position: relative;
    left: -28px;     
}

.dismis_1{
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px !important ;
    position: relative;
    top: 30px;
    right: 80px;
    transition: 1s;
}

.dismis_1:hover{
    transform: rotate(90deg);
}

/* user icon style */

.holediv{
    width: 100%;
}

.headtag{
    text-transform: uppercase;
    padding: 20px 0px 0px 10px;
}

.int_all{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 9px;
    text-transform: capitalize;
    border: 1px silver solid;
    outline: none;
}

.submit_btn{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 9px;
    text-transform: capitalize;
    border: 1px silver solid;
    outline: none;
    background: rgb(19, 19, 19);
    color: white;
    font-weight: 500;
}

#ptag{
    text-decoration: underline !important;
    color: black;
    margin-bottom: 50px;
}
#register{
    text-align: center !important;
    align-items: center;
}

#spn_2{
    text-decoration: underline !important;color: black;
}

.dismis_2{
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px !important ;
    transition: 1s;
}

.dismis_2:hover{
    transform: rotate(90deg);
}
.bars-head1{
    display: none !important;
}

#mixtas2{
    display: none !important;
    font-weight: 800;
    font-size: 40px;
    z-index: 1000 !important;
    font-family: serif;    
    margin-left: 70px !important;
}
#sticky1 a{
        padding: auto !important ;
        margin: 10px !important;
        text-align: start !important;
}
.nav{
    padding: 1px !important;
    align-items: center !important;
}


.secontary_nav{
    display: none !important;
}

/* first nav bar */
.nav_scond{
    display: flex !important;
    padding: 10px !important;
}
#mixtas{
    font-weight: 800;
    font-size: 40px;
    z-index: 1000 !important;
    font-family: serif;
    margin-top: -10px !important;
}



/* ------------------------- */
    /* media query */
/* ------------------------- */
@media screen and (max-width:1024px) {
    .nav_scond{
        display: none !important;
    }
    .spntag i{
        display: none !important;
    }    
    #link_div {
        margin-left: 80px;
        display: none;
    }    
    .bars-head1{
        display: inline-block !important;
    }

    /* mixtas  */
    .nav-item>center>h4{
        display: none !important;
    }
    #mixtas2{
        display: inline-block !important;
    }
    
}

@media screen and (max-width:768px) {
    .all_heart{
        display: none !important;
    }
    .uppercontainer{
        display: none !important;
    }
    
    #mix{
        display: flex !important ;
    }
}

@media screen and (max-width:425px){
    #mixtas2 {
        font-weight: 800;
        font-size: 35px !important;
        z-index: 1000 !important;
        font-family: serif;
        position: relative !important;
        left: -45% !important;
    }
    .header i {
        margin-right: 18px;
        font-size: 19px;
        color: black;
        margin-top: -15px;
        padding: 8px 0px 20px 0px;
        z-index: 1000 !important;
    }
}
@media screen and (max-width:325px){
    #mixtas2 {
        font-weight: 800;
        font-size: 34px !important;
        z-index: 1000 !important;
        font-family: serif;
        position: relative !important;
        left: -44% !important;
    }
    .header i {
        margin-right: 18px;
        font-size: 19px;
        color: black;
        margin-top: -15px;
        padding: 8px 0px 20px 0px;
        z-index: 1000 !important;
    }
}
