.header{
    margin-bottom: -60px !important ;
    color: black !important;
    }

 #sticky{
    position: sticky !important ;
    top: 0px !important ;
    z-index: 1000 !important ;
    background-color: white !important ;
    padding: 25px;
 }  
a{
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-left: 25px;
    margin-right: -0px;
    z-index: 1000 !important ;
    text-decoration: none;
    padding-right: 7px;
}

.header>h5{
    font-size: 120px;
    font-weight: 1000;
    text-align: center !important;
    padding-bottom: 60px !important;
    margin-left:23rem !important;  
    font-family: serif;  
}

#icon_div{
    margin-top: 80px;
    margin-left: 55px;

}

#icon_div>i{
    margin-right: 30px !important;
    font-size: 21px !important ;
    color:black !important;    
}

#icon_div .heart{
    margin-left: -20px !important;
}

/* search icon */

#search_int{
    border:none;
    border-bottom: 1px solid rgb(122, 120, 120);
    outline: none !important;
    width: 50%;
    padding: 20px;
    text-align: start !important;
    font-size: 20px;
   
}

.search_i{
    color: silver !important;
    position: relative;
    left: -28px;     
}

.dismis_1{
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px !important ;
    position: relative;
    top: 30px;
    right: 80px;
    transition: 1s;
}

.dismis_1:hover{
    transform: rotate(90deg);
}

/* user icon style */

.holediv{
    width: 100%;
}

.headtag{
    text-transform: uppercase;
    padding: 20px 0px 0px 10px;
}

.int_all{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 9px;
    text-transform: capitalize;
    border: 1px silver solid;
    outline: none;
}

.submit_btn{
    width: 100%;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 9px;
    text-transform: capitalize;
    border: 1px silver solid;
    outline: none;
    background: rgb(19, 19, 19);
    color: white;
    font-weight: 500;
}

#ptag{
    text-decoration: underline !important;
    color: black;
    margin-bottom: 50px;
}
#register{
    text-align: center !important;
    align-items: center;
}

#spn_2{
    text-decoration: underline !important;color: black;
}

.dismis_2{
    border: 1px solid silver;
    border-radius: 50%;
    padding: 15px !important ;
    transition: 1s;
}

.dismis_2:hover{
    transform: rotate(90deg);
}


/* last icon */

#last_icon>i{
    background: silver;
    padding: 8px 10px 8px 10px !important;
    border-radius: 50% !important;
}
#last_icon{
    margin-top: 80px !important;
}

.btn-close{
    border-radius: 50% !important;
    color: black !important ;
    border:1px solid silver ;
}
.dissmis_3:hover{
    transform: rotate(90deg) !important ;
}

/* phone header */
.bars-head{
    display:none !important;
}

@media screen and (max-width:1024px) {
    .head-to-container{
        width:auto !important;
    }
    #sticky{
        display: none !important;
    }
    .bars-head{
        display: inline-block !important;
    }
    #icon_div {
        margin-top: 80px;
        margin-left: -20px;
    }
    .header>h5 {
        font-size: 120px;
        font-weight: 1000;
        text-align: center !important;
        padding-bottom: 60px !important;
        margin-top: -55px;
        margin-left: 15rem !important;
        font-family: serif;
    }
    .header>i {
        margin-right: 22px;
        font-size: 41px !important ;
        color: black;
        position: relative !important ;
        left: 5rem !important;
        top: 3.8rem !important;
    }
    #icon_div i {
    margin-right: 24px !important;
    font-size: 30px !important;
    color: black !important;
    }
    /* papular  */
    .papular_img1 {
        height: 333px;
        width: 554px !important;
        margin-bottom: 30px !important;
        transition: 1s;
    }
    .overflow_i1 {
        overflow: hidden !important;
        height: 333px;
        width: 554px !important;
    }
    .content_1 {
        z-index: 900 !important;
        position: absolute !important;
        top: 76rem !important;
        left: 65px !important;
    }
    .papular_img2 {
        height: 315px;
        width: 101% !important;
        transition: 1s;
    }
    .overflow_i2 {
        width: 275px !important;
        overflow: hidden !important;
        height: 310px;
        margin-top: 5px;
        background: #b78259;
        color: white;
    }
    .papular_img4 {
        height: 698px;
        width: 100% !important;
        transition: 1s;
    }
    #sub-frame-error {
        
        height: 93% !important ;
        position: absolute;
        text-align: center;
        width: 83% !important ;
    }
    /* papular  end*/
    /* best_seller start */
    .best_seller{
        width: 76% !important;
    }
    /* best_seller end */
    /* new arraival start */
    .arraivls_card>img {
        transition: 2s;
        height: 237px !important;
        width: 227px !important;
    }
    /* new arraival end */
    /* papular brand start */
    /* blog  start */
    .head_fluid{
        width: 100% !important;
    }
    .overflow_div>img {
        height: 300px !important;
        width: 303px !important;
        transition: 1s;
    }
    /* blog  end */
    .details_container{
        width: auto !important;
    }
}













